#h1 {
    background-color: black;
}

.my {
    color: rgb(255, 255, 255);
}

.cloud {
    color: rgb(126, 200, 225);
}

#mp {
    font-style: italic;
    text-align: center;
    color: rgb(255, 255, 255);
    background: rgb(128, 0, 128);
}

#cs {
    text-decoration: underline;
    text-align: right;
    color:rgb(128, 0, 128);
    background: rgb(126, 200, 225);
}