body {
    font-family: 'robot', sans-serif;
}

.nav {
    background-color: grey;
    color: white;
    height: 80px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    width: 50%;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-around;
}

.nav-title {
    margin-left: 20px;
}

.nav a {
    text-decoration: none;
    color: lightgrey;
}

.btn {
    height: 35px;
    width: 100px;
    background-color: teal;
    color: #ffffff;
    border: none;
    font-size: 16px;
    box-shadow: 4px 4px black;
}